DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_NAME=sys
DB_USER=3BMui7aJaNAcDmS.root
DB_PASS=J0hnoklTPMYnJ6sx
APP_ENV=development
APP_SECRET=change-me-to-a-random-string
CORS_ORIGIN=http://localhost:3000

# API Keys (all free tier)
TMDB_API_KEY=your-tmdb-api-key
OMDB_API_KEY=your-omdb-api-key
